*{
	margin:0;
	padding:0;
}

body{
	background:black;
	font:normal 12px/1.5 "微软雅黑",Times;
}

ul{
	list-style:none;
}

#box{
	position:relative;
	width:660px;
	height:330px;
	margin:40px auto;
}

#box .picList{
	width:660px;
	height:330px;
}

.picList li{
	position:absolute;
	left:0;
	top:0;
	width:660px;
	height:330px;
}


#box .picContent{
	position:absolute;
	left:0;
	top:240px;
	width:660px;
	height:90px;
}

.picContent p{
	height:35px;
	line-height:35px;
	text-indent:45px;
}
.picContent p a{
	text-decoration:none;
	font-size:20px;
	color:white;
}
.picContent p a:hover{
	text-decoration:underline;
	color:#7dcdec;
}

.picContent .icoBox{
	position:absolute;
	left:20px;
	top:35px;
	width:511px;
	height:44px;
	overflow:hidden;
}
.picContent ul{
	position:absolute;
	width:1022px;
	height:38px;
	padding-top:6px;
}

.picContent ul li{
	float:left;
	width:64px;
	height:34px;
	padding:2px;
	margin-right:5px;
	background:white;
	position:relative;
	cursor:pointer;
	opacity:0.5;
}
.picContent ul li.first{
	opacity:1;
}
img.noclick{
	display:none;
}
img.click{
	display:inline;
	position:absolute;
	top:-6px;
	left:27px;
} 

.picContent .bts{
	float:right;
	width:74px;
	height:38px;
	padding-right:20px;
	padding-top:6px;
}
.bts .bt_l{
	float:left;
	width:37px;
	height:38px;
	background:url(images/btn.gif) no-repeat 0 0;
	cursor:pointer;
}
.bts .bt_r{
	float:right;
	width:37px;
	height:38px;
	background:url(images/btn.gif) no-repeat -37px 0;
	cursor:pointer;
}